<footer class="block block--dark footer">
  <div class="container footer__sections grid">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="./Images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a class="list__item" href="#">Website Hosting</a>
          </li>
          <li>
            <a class="list__item" href="#">Free Automated Wordpress</a>
          </li>
          <li><a class="list__item" href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <img
          class="icon collapsible__chevron"
          src="./Images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a class="list__item" href="#">About</a>
          </li>
          <li>
            <a class="list__item" href="#">Affiliates</a>
          </li>
          <li><a class="list__item" href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <img
          class="icon collapsible__chevron"
          src="./Images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a class="list__item" href="#">Contact</a>
          </li>
          <li>
            <a class="list__item" href="#">Knowledge Base</a>
          </li>
          <li><a class="list__item" href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <img
          class="icon collapsible__chevron"
          src="./Images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a class="list__item" href="#">Domain Checker</a>
          </li>
          <li>
            <a class="list__item" href="#">Domain Transfer</a>
          </li>
          <li><a class="list__item" href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="./Images/logo footer.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
