:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #aeabbc;
    --color-body-darker: #5c5577;
    --border-color: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
}
/* TIPOGRAFIA */
::selection {
    background: var(--color-primary);
    color: #fff;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
   line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
   
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
        
    }
}

/* LINKS */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* BADGES */

.badge {
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: #116de4;
}

.badge--secondary {
    background-color: #01cdf1;
}

.bagde--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .bagde--small {
        font-size: 1.2rem;
    }
}

/* LISTS */

.list {
    
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../Images/tick.svg);
    margin-left: 3rem;
    color: var(--color-headings);
}

.list--tick .list__item {
    padding-left: 0.5rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* ICONS */

.icon {
    height: 40px;
    width: 40px;
}

.icon--small {
    height: 30px;
    width: 30px;
}

.icon--primary {
   fill: var(--color-primary);
}

.icon--primary {
    fill: var(--color-primary);
 }

.icon--accent {
    fill: #fff;
}



.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display:inline-flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}

.icon-container--acent {
    background: var(--color-accent);
}

/* BUTTONS */

.btn {
    border-radius: 40px;
    border: 0;
    cursor:pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn--border {
    background: white;
    border: 2px solid var(--color-headings);
    color: var(--color-headings);
}

.btn--border:hover {
    background: var(--color-headings);
    color: white;
}

.btn--secondary {
    background: var(--color-secondary);
    color: white;
}

.btn--secondary:hover {
    background: #04cef2;
}

.btn--accent {
    background: var(--color-accent);
    color: white;
}

.btn--accent:hover {
    background: #ee3303;
}

.btn--streched {
    padding-right: 6rem;
    padding-left: 6rem;
}
.btn--block {
    display: inline-block;
    width: 100%;
}


@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* INPUT */

.input-group {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display:flex;

}

.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
}

.input-group .btn {
    margin: 4px;
}


@media screen and (min-width:1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* CARDS */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; 
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
    
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

/* PLANS */
.plan {
    transition: transform .2s ease-out;
}

.plan__name {
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
    font-weight: 500;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    letter-spacing: 1px;
}

.plan .list__item {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.plan--popular {
    transform: scale(1.1)
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../Images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}


@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

}

@media screen and (max-width:767px) {
    .plan--popular {
        transform: scale(1);
    }
}

/* MEDIA */

.media {
    display: flex;
    margin-bottom: 4rem;
}

.media__title {
    margin-top:0;
}

.media__body {
    margin: 0 2rem; 
}

.media__image {
    margin-top: 1rem;
}

/* QUOTES */

.quote {
    font-size: 3rem;
    color: var(--color-body-darker);
    font-style: italic;    
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    font-style: normal;
    
}

.quote__company {
    font-size: 2rem;
    color: var(--color-headings);
    opacity: 0.4;
    font-style: normal;

}

.quote__line {
    position: relative;
    bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }
    .quote__author {
        font-size: 2.4rem;
    }
    .quote__company {
        font-size: 1.6rem;
    }
}

/* GRIDS */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* TESTIMONIAL */

.testimonial {
    padding: 3rem;
    
}

.testimonial__image {
    position: relative;
    margin: 0 3rem;
}

.testimonial__image > img {
    width: 100%;
}

.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (min-width: 768px) {
    .testimonial .quote,
    .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote__company {
        font-size: 1.5rem;
    }

    .testimonial .quote {
        margin-left: 6rem;
    }

    .testimonial__image {
        margin:0;
    }

}

/* CALLOUTS */

.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__body {
    text-align: center;
}

.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn {
    align-self: center;
    justify-self: center;
}

@media screen and (min-width:768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout__body {
        text-align: left;
    }

    .callout__paragraph {
        font-size: 2rem;
    }

    .callout .btn {
        justify-self: start;
        margin: 0 2rem;
    }
    
}


/* COLLAPSIBLES */ 

.collapsible__header {
    display:flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;

}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}


/* BLOCKS */

.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
}

.block--dark, .block--dark p {
    background: #000;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: #fff;
}

.block--skewed-right {
    background: #000;
    color: #7b858b;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
    background: #000;
    color: #7b858b;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* NAV BAR */

.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a {
    color: #d3d0db;
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: #fff;
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand {
    transform: translateY(5px);
}

@media screen and (min-width:768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        opacity: 1;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
    }

    .nav__item {
        border: 0;
    }

}

/* HERO */

.hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }
    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* DOMAIN BLOCK */

.block-domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
}

.block-domain__prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

/*PLAN BLOCK */

.block-plan .grid {
    gap: 8rem 4rem;
}

.block-plan .card {
    max-width: 500px;
    margin: 0 auto;

}

@media screen and (min-width:768px) {
    .block-plan .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Feature Block */ 

.feature:first-of-type {
    margin-top:6rem;
}


.feature {
    gap: 4rem 2rem;
    margin: 12rem 0;
}


.feature__header__text {
    font-size: 2rem;
}
.feature__media__heading {
    margin: 1rem 0;
}

.feature__text {
    margin-bottom: 2rem;
}

.feature__img {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .feature__heading {
        font-size: 2.4rem;
    }
    .feature:nth-of-type(even) .feature__content{
        order: 2;
    }
}


/* SHOWCASE */
.block-showcase__img > img {
    width: 100%;
}

.showcase__list .media__text {
    font-size: 2rem;
}

@media screen and (min-width:768px) {
    .block-showcase .grid {
        grid-template-columns: 50% 50%;
    }

    .block-showcase__img {
        justify-self: end;
    }

    .block-showcase__img > img {
        width: auto;
        max-width: 700px;
    }

}

