:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #aeabbc;
}

*, *::after, *::before {
    box-sizing: border-box;
}
/* TIPOGRAFIA */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
   
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* LINKS */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* BADGES */

.badge {
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: var(--color-primary);
}

.badge--secondary {
    background-color: var(--color-secondary);
}

.bagde--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .bagde--small {
        font-size: 1.2rem;
    }
}

/* LISTS */

.list {
    color: var(--color-headings);
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../Images/tick.svg);
    margin-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* ICONS */

.icon {
    height: 40px;
    width: 40px;
}

.icon--primary {
   fill: var(--color-primary);
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display:inline-flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}

/* BUTTONS */

.btn {
    border-radius: 40px;
    border: 0;
    cursor:pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--border {
    background: white;
    border: 2px solid var(--color-headings);
    color: var(--color-headings);
}

.btn--border:hover {
    background: var(--color-headings);
    color: white;
}

.btn--secondary {
    background: var(--color-secondary);
    color: white;
}

.btn--secondary:hover {
    background: #04cef2;
}

.btn--accent {
    background: var(--color-accent);
    color: white;
}

.btn--accent:hover {
    background: #ee3303;
}

.btn--block {
    display: inline-block;
    width: 100%;
}


@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}