:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #aeabbc;
    --color-body-darker: #5c5577;
    --border-color: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
}
/* TIPOGRAFIA */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
   
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* LINKS */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* BADGES */

.badge {
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: #116de4;
}

.badge--secondary {
    background-color: #01cdf1;
}

.bagde--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .bagde--small {
        font-size: 1.2rem;
    }
}

/* LISTS */

.list {
    color: var(--color-headings);
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../Images/tick.svg);
    margin-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* ICONS */

.icon {
    height: 40px;
    width: 40px;
}

.icon--primary {
   fill: var(--color-primary);
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display:inline-flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}

/* BUTTONS */

.btn {
    border-radius: 40px;
    border: 0;
    cursor:pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--border {
    background: white;
    border: 2px solid var(--color-headings);
    color: var(--color-headings);
}

.btn--border:hover {
    background: var(--color-headings);
    color: white;
}

.btn--secondary {
    background: var(--color-secondary);
    color: white;
}

.btn--secondary:hover {
    background: #04cef2;
}

.btn--accent {
    background: var(--color-accent);
    color: white;
}

.btn--accent:hover {
    background: #ee3303;
}

.btn--block {
    display: inline-block;
    width: 100%;
}


@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* INPUT */

.input-group {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display:flex;

}

.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}


@media screen and (min-width:1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* CARDS */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; 
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
    
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

/* PLANS */

.plan__name {
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
    font-weight: 500;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    letter-spacing: 1px;
}

.plan .list__item {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../Images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}



@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

}

/* MEDIA */

.media {
    display: flex;
}

.media__title {
    margin-top:0;
}

.media__body {
    margin: 0 2rem; 
}

.media__image {
    margin-top: 1rem;
}

/* QUOTES */

.quote {
    font-size: 3rem;
    color: var(--color-body-darker);
    font-style: italic;    
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
    font-style: normal;
    
}

.quote__company {
    font-size: 2rem;
    color: var(--color-headings);
    opacity: 0.4;
    font-style: normal;

}

.quote__line {
    position: relative;
    bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }
    .quote__author {
        font-size: 2.4rem;
    }
    .quote__company {
        font-size: 1.6rem;
    }
}

/* GRIDS */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    
}